<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398451275213-v7pk6ch7h2mc58jf4tc171dk4akmpi0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398451275213-v7pk6ch7h2mc58jf4tc171dk4akmpi0g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEDFI0pV3FtZEE0bLq3_uQOChswMW9aww</string>
	<key>GCM_SENDER_ID</key>
	<string>398451275213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ktooo.app</string>
	<key>PROJECT_ID</key>
	<string>kto-ios-948b2</string>
	<key>STORAGE_BUCKET</key>
	<string>kto-ios-948b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398451275213:ios:89e6b00419959f3eeb0084</string>
</dict>
</plist>